<div class="aside">
    <!-- 个人资料 -->
    <div class="profile">
        <!-- 头像 -->
        <div class="avatar img-circle">
            <img src="./uploads/avatar.png">
        </div>
        <h4>旋之华</h4>
    </div>
    <!-- 导航菜单 -->
    <div class="navs">
        <ul class="list-unstyled">
            <!-- 首页数据 -->
            <li>
                <a href="/back" class="active">
                    <i class="fa fa-area-chart"></i>
                    首页数据    
                </a>
            </li>
            <!-- 轮播图管理 -->
            <li>
                <a href="/back/s_list">
                    <i class="fa fa-calculator"></i>
                    轮播图管理
                </a>
            </li>
            <!-- 用户中心 -->
            <li>
                <a href="javascript:;">
                    <i class="fa fa-users"></i>
                    用户管理
                    <i class="arrow fa fa-angle-right"></i>
                </a>
                <ul class="list-unstyled">
                    <li>
                        <a href="/back/u_center">
                            用户中心
                        </a>
                    </li>
                    <li>
                        <a href="/back/u_message">
                            用户信息
                        </a>
                    </li>
                    <li>
                        <a href="/back/u_list">
                            用户列表
                        </a>
                    </li>
                    
                </ul>
            </li>
            <!-- 课程管理 -->
            <li>
                <a href="javascript:;">
                    <i class="fa fa-object-group"></i>
                    课程管理
                    <i class="arrow fa fa-angle-right"></i>
                </a>
                <ul class="list-unstyled">
                    <li>
                        <a href="./course_add.html">
                            课程添加
                        </a>
                    </li>
                    <li>
                        <a href="./course_list.html">
                            课程列表
                        </a>
                    </li>
                    <li>
                        <a href="./course_category.html">
                            课程分类
                        </a>
                    </li>
                    <li>
                        <a href="./course_topic.html">
                            课程专题
                        </a>
                    </li>
                </ul>
            </li>
            
            <!-- 设置中心 -->
            <li>
                <a href="javascript:;">
                    <i class="fa fa-cog"></i>
                    设置中心
                    <i class="arrow fa fa-angle-right"></i>
                </a>
                <ul class="list-unstyled">
                    <li><a href="javascript:;">站点设置</a></li>
                    <li><a href="javascript:;">用户设置</a></li>
                    <li><a href="javascript:;">角色管理</a></li>
                    <li><a href="javascript:;">课程设置</a></li>
                    <li><a href="javascript:;">运营设置</a></li>
                    <li><a href="javascript:;">财务设置</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>