<!--继承base.html的基础模板-->
{% extends "back/base.html" %}

<!--新增的样式-->
{% block style %}
<style>
  .preview {
  width: 120px;
  height: 120px;
  padding: 0;
  margin-left: 15px;
  overflow: hidden;
  position: relative;
}
.preview:hover .cover {
  background-color: rgba(0, 0, 0, 0.4);
}
.preview:hover .fa-upload {
  color: rgba(240, 240, 240, 0.8);
}
.fa-upload {
  color: rgba(240, 240, 240, 0);
}
.uploadFile {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 120px;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s;
}
</style>

{% endblock %}

<!-- 主要内容 -->
{% block body %}
<div class="container-fluid">
  <div class="body advert">
    <!-- 面包屑 -->
    <ol class="breadcrumb">
      <li><a href="/back/s_list">轮播图管理</a></li>
      <li class="active">修改轮播图</li>
    </ol>
    <div class="advert-add">
      
    </div>
  </div>
</div>
{% endblock %}

<!--脚本-->
{% block script %}
<script>
  $(function() {
    loadData();
  });


  //加载数据
  function loadData(params) {
    if (window.location.search.indexOf("?") !== -1) {
      //获取url后面的id
      const sowingId = getQueryString("sid");
      //根据id发起查询请求,将数据渲染到页面
      $.ajax({
        type: "get",
        url: "http://localhost:3000/sowing/api/single/" + sowingId,
        dataType: "json",
        success: function(data) {
          //获取数据
          let result = data.result;
          //1.利用模板语法,注入值
          let tpl = `
                    <form
                    action="/sowing/api/edit"
                    class="form-horizontal"
                    method="POST"
                    enctype="multipart/form-data"
                >
                    <!-- 图片名称 -->
                    <div class="form-group">
                    <label for="" class="col-md-3 control-label">图片名称</label>
                    <div class="col-md-5">
                        <input
                        type="text"
                        class="form-control input-sm image_title"
                        placeholder="填写图片名称"
                        name="image_title"
                        value="${result.image_title}"
                        required
                        />
                    </div>
                    </div>
                    <!-- 图片路径 -->
                    <div class="form-group">
                    <label for="" class="col-md-3 control-label">图片路径</label>
                    <div class="col-md-5">
                        <div class="col-md-2 preview" style="width: 100%; margin-left: 0; display: flex;justify-content: center;align-item: center;">
                            <img src="/uploads/${result.image_url}" style="border: 1px solid #e0e0e0; " id="showImg">
                            <input type="file" id="uploadFile" class="uploadFile">
                            <div class="cover">
                                <i class="fa fa-upload"></i>
                            </div>
                        </div>
                    </div>
                    </div>
                    <!-- 跳转连接 -->
                    <div class="form-group">
                    <label for="" class="col-md-3 control-label">跳转链接</label>
                    <div class="col-md-5">
                        <input
                        type="text"
                        class="form-control input-sm image_link"
                        placeholder="填写跳转链接"
                        name="image_link"
                        value="${result.image_link}"
                        required
                        />
                    </div>
                    </div>
                    <!-- 上架时间 -->
                    <div class="form-group">
                    <label for="" class="col-md-3 control-label">上架时间</label>
                    <div class="col-md-5">
                        <input
                        type="date"
                        class="form-control input-sm s_time"
                        placeholder="填写上架时间"
                        name="s_time"
                        value="${result.s_time}"
                        required
                        />
                    </div>
                    </div>
                    <!-- 下架时间 -->
                    <div class="form-group">
                    <label for="" class="col-md-3 control-label">下架时间</label>
                    <div class="col-md-5">
                        <input
                        type="date"
                        class="form-control input-sm e_time"
                        placeholder="填写下架时间"
                        name="e_time"
                        value="${result.e_time}"
                        required
                        />
                    </div>
                    </div>
                    <!-- 添加轮播图按钮 -->
                    <div class="form-group">
                    <div class="col-md-8">
                        <!-- <a href="sowing_list.html" class="btn btn-danger btn-sm pull-right">添加轮播图</a> -->
                        <input
                        type="button"
                        class="btn btn-danger btn-sm pull-right "
                        id="btn_edit"
                        value="修改轮播图"
                        />
                    </div>
                    </div>
                </form>
           
           `;
        // 将模板追加到advert-add中
        $('.advert-add').html(tpl);
        //2. 修改后图片的加载
        $('#uploadFile').on('change',function () {
          //获取文件对象
          let file = $(this).get(0).files[0]
          //读取文件
          let reader = new FileReader();
          if(file){
            reader.readAsDataURL(file);
          }
          //替换文件
          reader.onloadend = function () {
            $('#showImg').attr('src',this.result)
          }
          
        })

        //3.提交表单
       
        $('#btn_edit').on('click',function () {
           // 3.1 获取表单的数据
         let id = result._id;
         let image_title =  $('.image_title').val() ;
         let image_url =  $('#uploadFile').get(0).files[0] || result.image_url;
         let image_link =  $('.image_link').val() ;
         let s_time =  $('.s_time').val();
         let e_time =  $('.e_time').val();
         // 3.2 将数据注入FormData
         let formData = new FormData();
         formData.append('id',id);
         formData.append('image_title',image_title);
         formData.append('image_url',image_url);
         formData.append('image_link',image_link);
         formData.append('s_time',s_time);
         formData.append('e_time',e_time);
        //  console.log(id, image_title, image_url, image_link, s_time, e_time);
         // 3.3 发起ajax请求
         //3.3.1获取form对象
         let $form = $('form')
         $.ajax({
           type: $form.attr('method'),
           url: $form.attr('action'),
          data: formData,
          //不要处理我的数据,直接发给服务器就可以了
          processData: false,
          contentType: false,
          success: function (data) {
            console.log(data);
            
            if(data.status === 200){
              window.alert('修改轮播图成功')
              window.location.href = '/back/s_list'
            }else{
              alert('修改失败,请重新修改')
            }
            
          },
          error: function (err) {
            console.log(err);
            
          }

         })
        })

        }
        
      });

    }
  }

  //获得url后面参数的值
  function getQueryString(name) {
    let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
    let r = window.location.search.substr(1).match(reg);
    if (r != null) {
      return unescape(r[2]);
    }
    return null;
  };
  
</script>
{% endblock %}
