{% extends "back/base.html"%}

<!--新增的样式-->
{% block style %}
{% endblock %}

<!--主要内容-->
{% block body %}
<div class="container-fluid">
    <!-- 客户信息 -->
    <div class="body user-profile">
        <!-- 面包屑 -->
        <ol class="breadcrumb">
            <li><a href="javascript:;">用户管理</a></li>
            <li class="active">个人中心</li>
        </ol>
        <div id="user_msg" class="profile">

        </div>
        <div class="courses">
            <ul class="navs list-unstyled">
                <li>
                    <a href="javascript:;" class="active">
                        <h4>我的收藏</h4>
                    </a>
                </li>
            </ul>
            <div class="course">
                <div class="pic">
                    <img src="./images/live_con_pic_1.jpg" alt="">
                    <span class="percent">80%</span>
                </div>
                <div class="info">
                    <a href="javascript:;">母亲情绪平和是对孩子最好的教育</a>
                    <p>来自 <span>张菲菲教授</span></p>
                </div>
            </div>
            <div class="course">
                <div class="pic">
                    <img src="./images/live_con_pic_1.jpg" alt="">
                    <span class="percent">80%</span>
                </div>
                <div class="info">
                    <a href="javascript:;">母亲情绪平和是对孩子最好的教育</a>
                    <p>来自 <span>张菲菲教授</span></p>
                </div>
            </div>
            <div class="course">
                <div class="pic">
                    <img src="./images/live_con_pic_1.jpg" alt="">
                    <span class="percent">80%</span>
                </div>
                <div class="info">
                    <a href="javascript:;">母亲情绪平和是对孩子最好的教育</a>
                    <p>来自 <span>张菲菲教授</span></p>
                </div>
            </div>
            <div class="course">
                <div class="pic">
                    <img src="./images/live_con_pic_1.jpg" alt="">
                    <span class="percent">80%</span>
                </div>
                <div class="info">
                    <a href="javascript:;">母亲情绪平和是对孩子最好的教育</a>
                    <p>来自 <span>张菲菲教授</span></p>
                </div>
            </div>
            <div class="course">
                <div class="pic">
                    <img src="./images/live_con_pic_1.jpg" alt="">
                    <span class="percent">80%</span>
                </div>
                <div class="info">
                    <a href="javascript:;">母亲情绪平和是对孩子最好的教育</a>
                    <p>来自 <span>张菲菲教授</span></p>
                </div>
            </div>
            <div class="course">
                <div class="pic">
                    <img src="./images/live_con_pic_1.jpg" alt="">
                    <span class="percent">80%</span>
                </div>
                <div class="info">
                    <a href="javascript:;">母亲情绪平和是对孩子最好的教育</a>
                    <p>来自 <span>张菲菲教授</span></p>
                </div>
            </div>
            <div class="course">
                <div class="pic">
                    <img src="./images/live_con_pic_1.jpg" alt="">
                    <span class="percent">80%</span>
                </div>
                <div class="info">
                    <a href="javascript:;">母亲情绪平和是对孩子最好的教育</a>
                    <p>来自 <span>张菲菲教授</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--脚本-->
{% block script %}
<script>
    $(function () {
       // 1.1 获取本地的token
       let token = JSON.parse(localStorage.getItem('result')).token;
        // console.log(token);

       // 1.2 根据token请求数据
       if(token){
           $.ajax({
               url: LK.SERVER + 'back/user/api/u_msg/' + token,
               type: 'get',
               dataType: 'json',
               success: function (data) {
                   console.log(data);
                   if(data.status === 200){
                       // 2.1 注入数据
                       let tpl = `
                      <div class="pull-left">
                            <img src="${data.result.icon_url ? '/uploads/' + data.result.icon_url : './uploads/avatar.png'}" class="img-circle pull-left" alt="" style="border: 2px solid #006ebc; ">
                            <span class="name">${data.result.real_name}</span>
                            <span>${data.result.intro_self}</span>
                        </div>
                        <ul class="pull-right list-inline">
                            <li>
                                <span>积分</span>
                                <a href="javascript:;">${data.result.points}</a>
                            </li>
                            <li>
                                <span>等级</span>
                                <a href="javascript:;">${data.result.rank}</a>
                            </li>
                            <li>
                                <span>金币</span>
                                <a href="javascript:;">${data.result.gold}</a>
                            </li>
                        </ul>
                   `;
                       $('#user_msg').html(tpl);
                   }else {
                       alert('获取用户信息失败!');
                   }
               }
           });
       } else {
           // 删除本地数据
           sessionStorage.removeItem('result');
           // 跳转到登录页面
           window.location.href = '/back/login';
       }
    });
</script>
{% endblock %}
